.article-cell {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.article-cell-picture {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.article-cell-picture img {
  max-width: 25vw;
  height: 100%;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.overlayBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.5s;
  opacity: 0;
}

.overlayBlock:hover {
  background: #2a2721a3;
  opacity: 1;
}

.overlayText {
  font-size: 200%;
  color: #fdfbeb;
}

.article-cell-content {
  width: 70vw;
  text-align: justify;
}

.article-cell-text-title {
  font-size: 2.5vw;
  font-weight: bold;
}
.article-cell-text-subtitle {
  font-size: 1.9vw;
  font-style: italic;
}

.article-cell-content {
  font-size: 1.5vw;
  padding-left: 0.5vw;
  padding-right: 0vw;
}

.picture-right {
  flex-direction: row-reverse;
}

.picture-right .article-cell-content {
  padding-left: 0vw;
  padding-right: 0.5vw;
}

@media screen and (max-width: 600px) {
  .article-cell {
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 0;
  }
  .article-cell-content {
    width: 95%;
  }
  .article-cell-text-title {
    font-size: 6vw;
  }
  .article-cell-text-subtitle {
    font-size: 5vw;
  }
  .article-cell-text {
    font-size: 4.5vw;
  }

  .article-cell-picture img {
    max-width: 100%;
    max-height: 20%;
    border-radius: unset;
  }
  .overlayBlock {
    border-radius: unset;
  }
}
