.article-content {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 2vh;
}
.article-head-container {
  display: flex;
}

.article-map {
  width: 50vw;
}

.article-map img {
  width: 22vw;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.article-table-of-contents {
  font-size: 1.5vw;
  width: 50vw;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .article-head-container {
    flex-direction: column;
    align-items: center;
  }
  .article-table-of-contents {
    font-size: 100%;
    width: 100%;
  }
  .article-map img {
    width: 100%;
    max-height: 50%;
  }
}
