.table-of-content-item {
  padding: 0.25vw;
  margin: 0.25vw;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.table-of-content-item:hover {
  background-color: #dedabe;
}
