.svg-container {
  width: 5%;
  padding: 5%;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .svg-container {
    display: none;
  }
}
