.subcategory {
  padding: 2%;
}
.subcategory-title {
  color: rgb(27, 2, 2);
  font-weight: bolder;
}

.dropDownItem {
  display: block;
  text-align: left;
}

.dropDownItem:hover {
  color: rgb(193, 173, 173);
}

.dropdown-link {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .subcategory-title {
    font-size: 6vw;
  }
  .subcategory {
    width: 45vw;
  }
  .dropdown-link {
    font-size: 4.5vw;
  }
}
