.dropDownMenu {
  background-color: rgb(167, 5, 5);
  display: none;
  border-radius: 0px 0px 5px 5px;
  position: relative;
  z-index: 1;
  width: 300%;
}

.show {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .dropDownMenu {
    width: 100vw;
    position: absolute;
    top: 10%;
    left: 0;
    border-radius: unset;
  }
}
