.header {
  background-color: #2a2721;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fdfbeb;
  padding-left: 2%;
  padding-right: 2%;
}

svg polygon {
  fill: #fdfbeb;
}
