#head-summary {
  background-color: #fffdea;
  border: solid rgb(167, 5, 5);
  border-radius: 5px;
}
#head-summary-cell {
  padding: 10px;
  text-align: justify;
}
.head-summary-item {
  text-align: left;
}
