body {
  margin: 0;
  font-family: "JaldiRegular", "JaldiBold", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffef6;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "JaldiRegular";
  src: local("JaldiRegular"), url(fonts/Jaldi-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "JaldiBold";
  src: local("JaldiBold"), url(fonts/Jaldi-Bold.ttf) format("truetype");
}
