.slider {
  position: sticky;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: #2a2721a3;
  flex-direction: column;
}

.slider.show {
  display: flex;
  justify-content: space-around;
}

.slides {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.image {
  max-height: 95vh;
  max-width: 100%;
}

.right-arrow {
  font-size: 3vw;
  color: #181613;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  padding-right: 1%;
}

.left-arrow {
  font-size: 3vw;
  color: #181613;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  padding-left: 1%;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  display: none;
}

.slide.active {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 0;
}

.backButton {
  position: absolute;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181613;
  font-weight: bold;
  color: #fdfbeb;
  width: 7vw;
  cursor: pointer;
  border-radius: 10px;
  z-index: 10;
}
.backButton:hover {
  background-color: rgba(167, 5, 5);
}
.imageWrapper {
  height: 100%;
}
.sliderOverlayBlock {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fdfbeb;
  background-color: #18161381;
  height: 10%;
  width: 100%;
  bottom: 0px;
  font-size: 1.5vw;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .image {
    max-width: 100%;
    max-height: 100%;
  }
  .backButton {
    width: 50vw;
    height: 5vh;
  }
  .left-arrow {
    left: 10px;
    font-size: 10vw;
  }
  .right-arrow {
    right: 10px;
    font-size: 10vw;
  }
  .sliderOverlayBlock {
    height: 15%;
    font-size: 5vw;
  }
}
