.slider {
  position: sticky;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: #2a2721a3;
}
.slider.active {
  display: flex;
}

.image {
  max-width: 60%;
  max-height: 60%;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #2a2721;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #2a2721;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}
