.slider {
  position: sticky;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: #2a2721a3;
  flex-direction: column;
}

.slider.show {
  display: flex;
}

.slides {
  display: flex;
  height: 90%;
  align-items: center;
}

.image {
  max-width: 80%;
  max-height: 60%;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  right: 32px;
  font-size: 3rem;
  color: #181613;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  left: 32px;
  font-size: 3rem;
  color: #181613;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181613;
  font-weight: bold;
  color: #fdfbeb;
  width: 7vw;
  cursor: pointer;
  border-radius: 10px;
  z-index: 10;
}
.backButton:hover {
  background-color: rgba(167, 5, 5);
}

@media screen and (max-width: 600px) {
  .image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0px;
  }
  .backButton {
    width: 50vw;
    height: 5vh;
  }
  .left-arrow {
    left: 10px;
    font-size: 10vw;
  }
  .right-arrow {
    right: 10px;
    font-size: 10vw;
  }
}
